.html {

    font-size: 62.5%;
}

body {
    margin: 0;
    
    font-family: 'bebas-neue',sans-serif;
   
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav ul {
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    display: flex;
}
nav li {
    display: inline-block;

}
nav a{
    padding: 10px;
    text-decoration: none;
}
.nav {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    
}
.nav:hover{
    
    background-color:whitesmoke;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: whitesmoke;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: whitesmoke;}

.apply {
  background-color: #4CAF50; /* Green */
  border:none;
  color: white;
  padding: 13px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border-radius: 8px;
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

/* hero*/
section.hero{ 

    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/skg.jpg");
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}